@model List<ToDo.Models.InventoryViewModel>
    @{
    Layout = null;
    }
    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert">
            &times;
        </a>
        <strong>警告！</strong>清单名已被使用，请重新输入！
    </div>
    <div class="color-block" id="block1">
        <input type="text" placeholder="输入清单名称，字数小于50字，Enter键结束" maxlength="50" name="inventoryName" class="input-text" onkeyup="AfterViewCreateInventory()" id="create-inventory-name" />
        <img src="~/images/Inventory/enter (1).png" class="enter-icon" />
    </div>
    <div id="invnetory-block">
        <ul>
            @for (int i = 0; i < Model.Count; i++)
        {
                <li class="input-li">
                    <div class="circle" onclick="showInventoryItems(@Model[i].InventoryId)">
                        <label class="radio">
                            <input type="radio" name="radio" value="1"><i></i>
                        </label>
                    </div>
                    <a href="/Inventory/ViewModifyInventoryName?inventoryId=@Model[i].InventoryId" title="修改清单">
                        <span class="input-inventory-name">@Model[i].InventoryName</span>
                    </a>
                    <span class="input-inventory-time">
                    @Model[i].CreateTime.Month/@Model[i].CreateTime.Day&nbsp;&nbsp;@Model[i].CreateTime.Hour:@Model[i].CreateTime.Minute
                    </span>
                    <a onclick="deleteInventory(@Model[i].InventoryId)" data-toggle="modal" data-target="#myModal">
                    <img src="~/images/Inventory/删除 (2).png" alt="图标" class=" remove-icon" />
                    </a>
                </li>
        }
        </ul>
    </div>
