@{
    ViewData["Title"] = "ModifyPasswordPage";
}
<link href="~/css/User/UserPage.css" rel="stylesheet" />
<div class="return-bar">
    <a href="/User/UserInformationPage"><img src="~/images/User/返回.png" alt="图标" /></a>
</div>
<div class="Page">
    <h2 class="title">修改密码</h2>
    <form action="/User/ModifyPassWord" method="post">
        <div class="input-text">
            <span>请输入密码:</span>
            <input type="password" name="oldPassword" class="user-input" required maxlength="16" placeholder="输入16字符以内" />
        </div>
        <div class="input-text">
            <span>请输入新密码:</span>
            <input type="password" name="newPassword" class="user-input" required maxlength="16" placeholder="输入16字符以内" />
        </div>
        <div class="input-text">
            <span>请输入再次新密码:</span>
            <input type="password" name="againNewPassWord" class="user-input" required maxlength="16" placeholder="输入16字符以内" />
        </div>
        <input class="button" type="submit" style="cursor:pointer" value="确认修改" />
    </form>
</div>
