@model int
@{
    ViewData["Title"] = "AddItem";
}
<script src="~/js/ajax/ajax.js"></script>
<link href="~/css/Item/AddItem.css" rel="stylesheet" />
<form id="frmRegist" action="/Item/ToAddItem" method="post">
    <div class="add-content">
        <div class="item-information">
            <div class="information-name">
                <img src="~/images/Item/内容 (1).png" class="information-picture" />
                <span>内容</span>
            </div>
            <div class="information-content">
                <input type="text" name="content" maxlength="50" class="information" id="item-create-content" required />
            </div>
            <div class="warning">
                <span id="create-content-warning"></span>
            </div>
        </div><br>
        <div class="item-information">
            <div class="information-name">
                <img src="~/images/Item/备注.png" class="information-picture" />
                <span>备注</span>
            </div>
            <div class="information-content">
                <input name="mark" type="text" class="information" required maxlength="50" id="item-create-mark" /><span id="commit"></span>
            </div>
            <div class="warning">
                <span id="create-mark-warning"></span>
            </div>
        </div><br>
        <div class="item-information">
            <div class="information-name">
                <img src="~/images/Item/沙漏已过期18px.png" class="information-picture" />
                <span class="picture-mark">过期时间</span>
            </div>
            <div class="information-content">
                <input type="datetime-local" name="time" class="information" id="finish-time" required />
                <input hidden name="inventoryID" value="@Model" />
            </div>
        </div><br>
        <div>
            <input type="submit" class="submit" />
        </div>
    </div>
</form>
