

@model ToDo.Models.ItemViewModels
@{
    ViewData["Title"] = "ChangeItem";
}
<script src="~/js/ajax/ajax.js"></script>
<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>
<link href="~/css/Item/ChangeItem.css" rel="stylesheet" />
<form id="frmRegist" action="/item/GetBack?itemId=@Model.ItemId&isReturnSearch=@Model.IsReturnSearch&changeBeforeContent=@Model.ChangeBeforeContent&isReturnHomePage=@Model.IsReturnHomePage" method="post">
    <div class="item-all-information">
        <div class="item-information-part">
            <div class="information-name">
                <img src="~/images/Item/内容 (1).png" class="information-picture" />
                <span>内容</span>
            </div>
            <div class="information-content">
                <input name="content" type="text" value="@Model.Content" maxlength="50" class="information" id="item-content" required />
            </div>
            <div class="error">
                <span id="content-error"></span>
            </div>
        </div><br>
        <div class="item-information-part">
            <div class="information-name">
                <img src="~/images/Item/备注.png" class="information-picture" />
                <span>备注</span>
            </div>
            <div class="information-content">
                <input name="mark" type="text" value="@Model.Mark" id="item-mark" class="information" required maxlength="30" /><span id="commit"></span>
            </div>
            <div class="error">
                <span id="mark-error"></span>
            </div>
        </div><br>
        <div class="item-information-part">
            <div class="information-name">
                <img src="~/images/Item/创建时间.png" class="information-picture" />
                <span class="picture-mark">创建时间</span>
            </div>
            <div class="information-content">
                <span class="information" id="create-time">@Model.CreateTime</span>
            </div>
        </div><br>
        <div class="item-information-part">
            <div class="information-name">
                <img src="~/images/Item/沙漏已过期18px.png" class="information-picture" />
                <span class="picture-mark">过期时间</span>
            </div>
            <div class="information-content">
                <input name="deadTime" type="datetime-local" value="@Model.TimeToString" class="information" id="finish-time" required />
            </div>
        </div><br>
        <div>
            <input type="submit" class="submit" />
            <a href="/item/GetBack?itemId=@Model.ItemId&isReturnSearch=@Model.IsReturnSearch&changeBeforeContent=@Model.ChangeBeforeContent&isReturnHomePage=@Model.IsReturnHomePage" class="return">返回</a>
        </div>
    </div>
</form>
