#datetext {
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    background: #2cbff3;
    color: white;
    margin: 0px;
    height: 25px;
    width: 58px;
}

#date {
    vertical-align: middle;
    margin-left: 31px;
    font-size: 18px;
    color: #bab6b3;
}

.icon {
    vertical-align: middle;
    text-align: center;
    width: 20px;
    height: 20px;
}

#top-bar {
    margin-top: 24px;
    border-bottom: 1px solid #bab6b3;
}

body {
    margin: 0 auto;
}

#date-block {
    margin: 10px;
}

.color-block {
    margin-top: 10px;
    display: inline-block;
    width: 536px;
    height: 40px;
    border: 1px solid white;
    border-radius: 2px;
    margin-left: 35px;
}

.add {
    vertical-align: middle;
    margin-left: 358px;
    width: 20px;
    height: 20px;
}

#content td {
    display: inline-block;
    padding: 0px;
    width: 607px;
    height: 353px;
    margin: 0px;
}

.color-block b {
    display: inline-block;
    width: 100px;
    vertical-align: middle;
    line-height: 38px;
    font-size: 20px;
    margin-left: 20px;
}

#block1 {
    background: #ffede7;
    color: #f9aea9;
}

#block2 {
    background: #ffefcb;
    color: #ffe1b3;
}

#block3 {
    background: #d6f4fe;
    color: #97d8ee;
}

#block4 {
    background: #eeffdd;
    color: #a4d995;
}

#content-block1 {
    border-right: 1px solid #bab6b3;
    overflow-y: auto;
}

#content-block2 {
    border-bottom: 1px solid #bab6b3;
    overflow-y: auto;
}

#content-block3 {
    border-top: 1px solid #bab6b3;
    overflow-y: auto;
}

#content-block4 {
    border-left: 1px solid #bab6b3;
    overflow-y: auto;
}

#content {
    border: 0px;
}
.input-inventory-name {
    color: #7e7e7e;
    display: inline-block;
    width: 400px;
    height:40px;
    text-overflow:ellipsis;
    overflow:hidden;
    -o-text-overflow:ellipsis;
    white-space:nowrap;
}

.input-li {
    list-style: none;
    border-bottom: 1px dashed #808080;
    line-height: 40px;
}

.input-input-li {
    list-style: none;
    border-bottom: 1px dashed #808080;
    line-height: 40px;
    width:630px;
}

.input-inventory-time {
    font-size: 12px;
    color: #bab6b3;
    width: 63px;
    display: inline-block;
}

ul li {
    list-style-type:none;
}
.circle {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.circle1 {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

#inside-circle {
    margin: 2px;
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
}
#content a {
    text-decoration: none;
    color: #333;
}

.remove-icon{
    width:20px;
    height:20px;
}
.input-text {
    text-indent: 10px;
    border: 1px solid #ffede7;
    width: 470px;
    background-color: #ffede7;
    outline: mediumaquamarine;
}

.enter-icon {
    width: 25px;
    height: 25px;
}

.ul-style {
    padding-right: 40px;
    padding-left:30px;
}

.time-delete{
    float:right;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color:white;/*//背景色*/
}

::-webkit-scrollbar-thumb {
    background-color: #f5eeee; /*条的颜色*/
}

    ::-webkit-scrollbar-thumb:hover {
        background-color:#d6f4fe;
    }

.showAllOverdueItem-ul {
    padding-left: 180px;
}

.circle .radio {
    position: relative;
    display: inline-block;
    font-weight: 400;
    color: #0c4757;
    padding-left: 25px;
    cursor: pointer;
}

    .circle .radio input {
        position: absolute;
        left: -9999px;
    }

    .circle .radio i {
        display: block;
        position: absolute;
        top: -12px;
        left: 1px;
        width: 22px;
        height: 22px;
        outline: 0;
        border: 1px solid red;
        background: #ffffff;
        border-radius: 50%;
        transition: border-color .3s;
        -webkit-transition: border-color .3s;
    }

    .circle .radio input + i:after {
        position: absolute;
        content: '';
        top: 3px;
        left: 3px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #ff5d5b;
        opacity: 0;
        transition: opacity .1s;
        -webkit-transition: opacity .1s;
    }

    .circle .radio input:checked + i:after {
        opacity: 1;
    }

.circle1 .radio-2 {
    position: relative;
    display: inline-block;
    font-weight: 400;
    color: #0c4757;
    padding-left: 25px;
    cursor: pointer;
}

    .circle1 .radio-2 input {
        position: absolute;
        left: -9999px;
    }

    .circle1 .radio-2 i {
        display: block;
        position: absolute;
        top: -30px;
        left: -2px;
        width: 22px;
        height: 22px;
        outline: 0;
        border: 1px solid red;
        background: #ffffff;
        border-radius: 50%;
        transition: border-color .3s;
        -webkit-transition: border-color .3s;
    }

    .circle1 .radio-2 input + i:after {
        position: absolute;
        content: '';
        top: 3px;
        left: 3px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #ff5d5b;
        opacity: 0;
        transition: opacity .1s;
        -webkit-transition: opacity .1s;
    }

    .circle1 .radio-2 input:checked + i:after {
        opacity: 1;
    }

.NoItems {
    font-size: 30px;
    color: #808080;
    list-style: none;
    margin-left: 20%;
    margin-top: 10%;
}

.input-input-li .a {
    display: inline-block;
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.showAllOverdueItem-ul .input-inventory-name{
    width:500px;
}